
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<div class="row">
    <div class="col-xs-12">
        <iframe src="https://calendar.google.com/calendar/embed?src=tmfahall%40gmail.com&ctz=America/Chicago" style="border: 0" width="385" height="400" frameborder="0" scrolling="no"></iframe>

    </div>
</div>