
@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>

<div class="well">
    <ul>
        <li><a href="https://nkaonline.com/wp-content/uploads/2017/01/2017-NKA-Rulebook-Updated-1-6-2017.pdf">We Use NKA Rules</a></li>
        <li>Maxxis Tires Only</li>
        <li>
            Classes
            <ul>
                <li>
                    Rookie
                    <ul>
                        <li>
                            Purple Slide
                        </li>
                        <li>
                            5-7
                        </li>
                        <li>
                            235lbs
                        </li>
                    </ul>
                </li>
                <li>
                    Jr 1
                    <ul>
                        <li>
                            Red Slide
                        </li>
                        <li>
                            8-10
                        </li>
                        <li>
                            250lbs
                        </li>
                    </ul>
                </li>
                <li>
                    Jr 2
                    <ul>
                        <li>
                            Blue Slide
                        </li>
                        <li>
                            11-12
                        </li>
                        <li>
                            265lbs
                        </li>
                    </ul>
                </li>
                <li>
                    Jr 3
                    <ul>
                        <li>
                            Black Slide
                        </li>
                        <li>
                            13-15
                        </li>
                        <li>
                            280lbs
                        </li>
                    </ul>
                </li>
                <li>
                    Adult
                    <ul>
                        <li>
                            Green Slide
                        </li>
                        <li>
                           16 & Up
                        </li>
                        <li>
                            350lbs
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>